<div class="flex-container">
    <div class="flex-child">
      <h1 id="number">01.</h1>
      <h3 id="number2">HISTORY</h3>
    <div class="text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus ducimus voluptatem iure error earum illo distinctio, accusantium voluptas, quam eum soluta eveniet suscipit quisquam et fugit animi. Corporis, accusamus molestiae?
    </div>

    <div class="container">	
        <input type="radio" id="i1" name="images" checked/>
        <input type="radio" id="i2" name="images" />
        <input type="radio" id="i3" name="images" />
        <input type="radio" id="i4" name="images"  />
        <div class="slide_img" id="one">			
            <img src="https://media.istockphoto.com/id/175515475/photo/mountains.jpg?s=612x612&w=0&k=20&c=e0TxdqpmQxgSYoHiB6F6x-SLsLbIeW7yM3weSBNyZ5U=">
                <label class="prev" for="i4"><span></span></label>
                <label class="next" for="i2"><span></span></label>	
            
        </div>
        <div class="slide_img" id="one">			
            <img src="https://media.istockphoto.com/id/175515475/photo/mountains.jpg?s=612x612&w=0&k=20&c=e0TxdqpmQxgSYoHiB6F6x-SLsLbIeW7yM3weSBNyZ5U=">
                <label class="prev" for="i4"><span></span></label>
                <label class="next" for="i2"><span></span></label>	
            
        </div>
        
        <div class="slide_img" id="two">
            
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRplVAGHVutIPOrqk7YqERknkw4NYmwE2O5zw&usqp=CAU">
                    <label class="prev" for="i1"><span></span></label>
                    <label class="next" for="i3"><span></span></label>
            
        </div>
                
        <div class="slide_img" id="three">
            <img src="https://media.istockphoto.com/id/175515475/photo/mountains.jpg?s=612x612&w=0&k=20&c=e0TxdqpmQxgSYoHiB6F6x-SLsLbIeW7yM3weSBNyZ5U=">
                    <label class="prev" for="i2"><span></span></label>
                    <label class="next" for="i4"><span></span></label>
        </div>
    
    
        <div class="slide_img" id="four">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRplVAGHVutIPOrqk7YqERknkw4NYmwE2O5zw&usqp=CAU">
                
                    <label class="prev" for="i3"><span></span></label>
                    <label class="next" for="i1"><span></span></label>
    
        </div>
    
        <div id="nav_slide">
            <label for="i1" class="dots" id="dot1"></label>
            <label for="i2" class="dots" id="dot2"></label>
            <label for="i3" class="dots" id="dot3"></label>
            <label for="i4" class="dots" id="dot4"></label>
        </div>
            
    </div>


  </div>
  
  