/* Add this at the end of your existing CSS file */
.flex-container {
    background-image: url('https://cdn.britannica.com/17/83817-050-67C814CD/Mount-Everest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 98vh;
    display: flex;
    flex-direction: column; /* Set the direction to column */
    align-items: center; /* Center items horizontally within the flex container */
    justify-content: top; /* Center items vertically within the flex container */
  }
  
  .flex-child {
    width: 50%;
    align-items: left; /* Center items horizontally within the flex child */
  }

  h1{
    color: grey;
    position: absolute;
  }

  h3{
    position: absolute;
  }
  
  #number {
    font-size: 80px;
    margin-top: 30px;
    margin-bottom: 10px; /* Adjust the spacing between number and title */
  }

  #number2{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 80px;
    margin-bottom: 10px; /* Adjust the spacing between number and title */
  }
  
  .title {
    width: 50%;
    top: 20px;
    margin: 0;
  }
  
  .text {
    position: absolute;
    top: 80px; /* Adjust the spacing between title and text */
  }
  
  @media screen and (max-width: 768px) {
    .flex-container {
      flex-direction: column; /* Stack the items vertically on small screens */
    }
  
    .flex-child {
      align-items: center; /* Align items to the center on small screens */
      justify-content: left; /* Align items to the center on small screens */
    }
  
    #number {
      font-size: 60px; /* Adjust font size for small screens */
      margin-bottom: 5px; /* Adjust the spacing between number and title on small screens */
    }
  
    .text {
      margin-top: 10px; /* Adjust the spacing between title and text on small screens */
    }
  }




body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-X: hidden;
}

.container {
  margin-top: 420px;
  position: absolute;
  right: 0px;
  left: 0px;
  width: 100%;
  height: -40px;
  padding-bottom: 20%;
  background-color: gray;
  opacity: 1;
  box-shadow: 0 11px 22px rgba(0, 0, 0, 0.2), 0 7px 7px rgba(0, 0, 0, 0.24);
}
.container input {
  display: none;
}
.container .slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.container .slide_img img {
  width: inherit;
  height: inherit;
}
.container .slide_img .prev, .container .slide_img .next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: grey;
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}
.container .slide_img .next {
  right: 0;
}
.container .slide_img .prev {
  left: 0;
}
.container .slide_img .prev:hover, .container .slide_img .next:hover {
  transition: 0.3s;
  background-color: rgba(255, 82, 82, 0.8);
}
.container .slide_img .prev span, .container .slide_img .next span {
  position: absolute;
  width: 0px;
  height: 0px;
  border: solid 20px;
  top: 50%;
  transform: translateY(-50%);
}
.container .slide_img .prev span {
  border-color: transparent #fff transparent transparent;
  right: 35%;
}
.container .slide_img .next span {
  border-color: transparent transparent transparent #fff;
  left: 35%;
}
.container #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}
.container #nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 3px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
  cursor: pointer;
}
.container #nav_slide #dot1:hover {
  background: #795548;
}
.container #nav_slide #dot2:hover {
  background: #F44336;
}
.container #nav_slide #dot3:hover {
  background: #2196F3;
}
.container #nav_slide #dot4:hover {
  background: #4CAF50;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1 {
  background: #795548;
}

#i2:checked ~ #nav_slide #dot2 {
  background: #F44336;
}

#i3:checked ~ #nav_slide #dot3 {
  background: #2196F3;
}

#i4:checked ~ #nav_slide #dot4 {
  background: #4CAF50;
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 685px) {
  .container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 80%;
  }
  .container .slide_img .prev, .container .slide_img .next {
    width: 15%;
  }
  .container .slide_img .prev span, .container .slide_img .next span {
    border: solid 12px;
  }
  .container .slide_img .prev span {
    border-color: transparent #fff transparent transparent;
  }
  .container .slide_img .next span {
    border-color: transparent transparent transparent #fff;
  }
  .container #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}