<p>demo-component works!</p>

<div class="flex-container">
    <div class="flex-child" id="inner">
        <h1 id="number">02.</h1>
        <h3 id="number2">CLIMB</h3>
        <div class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus ducimus voluptatem iure error earum illo distinctio, accusantium voluptas?
        </div>
    </div>
</div>

<nav class="navbar navbar-light bg-dark">
    <form class="form-inline" style="background-color: rgb(11, 46, 58); width: 100%;">
        <button class="btn btn-secondary" style="margin-left: 150px;" type="button">MOUNTAIN 1</button>
        <button class="btn btn-dark" type="button">MOUNTAIN 2</button>
    </form>
</nav>

<div class="image">
    <h1>Just a simple component for demo.</h1>
</div>

<div class="footer">
    <div class="icon2"></div>
    <div class="text1">
        <div id="t1">LOSANGELES</div>
        <div id="t2">MOUNTAINS</div>&nbsp;
        <div id="cr">COPYRIGHT 2016. All rights are reserved.</div> 
    </div>
</div>
