<div class="flex-container">
    <div class="flex-chid" id="icon1">

    </div>
    <div class="flex-chid" id="header">
        <a id="h" [routerLink]="['/history']">01.HISTORY</a>&nbsp;&nbsp;&nbsp;
        <a id="t" [routerLink]="['/team']">02.TEAM</a>
    </div>
</div>
<div class="footer">
    <div class="icon2"></div>
    <div class="text">
        <div id="t1">LOSANGELES</div>
        <div id="t2">MOUNTAINS</div> 
    </div>
    <div class="ft">
        <a id="fh" [routerLink]="['/history']">01.HISTORY</a>&nbsp;&nbsp;&nbsp;
        <a id="ft" [routerLink]="['/team']">02.TEAM</a>
    </div>
</div>
